<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDB Reviews</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    {% block style %}
        
    {% endblock %}
</head>


<body style="background-color:#9ee8fc7b;">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">IMDB Reviews Analyzer <strong>{{title if title else ""}}</strong></a>
            <form class="d-flex" role="search">
                <a class="btn btn-outline-primary" href="/search-movies-form" role="button" style="margin-right :8px;">Movies by URL</a>
                {% if not analyzed %}
                <a class="btn btn-primary" href="/analyze-df" role="button" onclick="loading()">Analyze</a>
                {% else %}
                <a class="btn btn-outline-success" href="/" role="button">Dashboard</a>
                <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
                {% endif %}

            </form>
        </div>
    </nav>
    
    <div class="main-content">
        {% block content %}{% endblock content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</body>
{% block scripts %}
    
{% endblock %}
</html>